.App {
  text-align: center; }

.search input {
  position: absolute; }

.App-header {
  background-color: mediumvioletred;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10 px;
  color: white;
  position: relative; }
