body {
  background-color: rgba(184, 179, 179, 0.6);
  font-family: Helvetica, Arial, sans-serif;
  color: #333; }

.main-container {
  width: 70%;
  margin-left: 17%;
  margin-right: 13%; }

ul.breadcrumb {
  display: flex;
  justify-content: flex-start;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: 600;
  list-style: none;
  margin-bottom: 20px; }

ul.breadcrumb li {
  display: inline; }

ul.breadcrumb li + li:before {
  padding: 9px;
  content: ">\00a0"; }

.breadcrumb li:hover {
  cursor: pointer; }

.container1 {
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column; }

.contanier-sup {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 550px; }

.picture {
  width: 500px;
  height: 550px;
  margin: 25px; }

.pic {
  width: 90%;
  height: 90%; }

.price-details {
  width: 550px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
  left: 170px;
  position: relative; }

.condition-sold {
  font-size: 13px;
  left: 27%;
  position: absolute;
  bottom: 370px; }

.title1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.price {
  font-size: 45px;
  position: absolute;
  left: 50%;
  top: 220px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-weight: 300; }

.boton1 {
  text-decoration: none;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #2323e9;
  color: white;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.contanier-inf {
  width: 90%;
  height: 500px;
  margin-bottom: 40px;
  margin: 10px; }

.description {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  text-align: left;
  margin: 4px;
  word-wrap: break-word; }

h2 {
  margin-left: 35px;
  font-size: 27px;
  font-weight: 600;
  color: black; }

.description-parrafo {
  font-size: 16px;
  text-indent: 50px;
  font-weight: 300;
  line-height: 1.3;
  display: block;
  display: -webkit-box;
  height: 250px;
  margin-left: 35px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
  text-overflow: ellipsis;
  color: #333; }
