.item-list-breadcrumb {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  padding-inline-start: 140px;
}

